 
h3 {font-size:28px;}
#content h3:after ,#column-left h3:after {
    content: "";
    display: block;
    width:30px;
    margin:10px 0 0 0;
    border-bottom:5px solid;
}
.common-home #content {margin-top:15px;}
.breadcrumb {margin-top:10px;margin-bottom:5px;}
 .nav .open > a:focus, .nav .open > a:hover {background:none;}
.product-thumb .button-group button  {font-size:11px;}
.list-group a.active, .list-group a.active:hover, .list-group a:hover,.breadcrumb > li {text-shadow:none;}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {background:transparent;}
.product-thumb .button-group   {border-top:none;}
.product-list .product-thumb .caption {margin-left:260px;}
.product-list .product-thumb .button-group {border-left:none;}
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {border-bottom-width:1px ;}
.panel-heading {border-bottom:none;}
.btn-group.form-control {height:32px; background:transparent;}
.form-control,hr {box-shadow:none;}
.owl-carousel {background:transparent !important;}
.owl-pagination {top:5px!important;}
.owl-wrapper-outer {border:0!important;}
.checkout-checkout #accordion .panel {box-shadow:none;}
.btn-default,.btn-primary  {
	 background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 10%, rgba(0, 0, 0, 0.2) 165%) !important;
	 border-color:rgba(0,0,0,0.05) !important;
 }
 .btn-inverse {
	  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 10%, rgba(0, 0, 0, 0.2) 75%) !important;
	  border-color:rgba(0,0,0,0.1) !important;
 }
.btn-primary:hover {background-position:0;}
#menu  {margin-top:20px;}
#menu .nav > li > a {padding:20px 15px;}
#menu .nav > li > a ,#cart > .btn{font-size:15px;} 
#menu  .btn-navbar {border:none;background-image:none; border-radius:1px;}
#menu .see-all {border-top:none;background:rgba(255,255,255,0.1);}
#menu .dropdown-inner ,#menu .dropdown-inner a ,#menu .dropdown-inner ul {display:block;width:100%;}
 #logo, #cart, #search {margin:10px 0;}
 header {padding-top:10px;padding-bottom:10px;}
.navbar ,#top {margin-bottom:0px; } 
#logo img {max-width:250px;width:100%;max-height:268px;}
header > .container {height:70px;}
#search .btn-lg {text-shadow:0 1px 0 rgba(255,255,255,0.3);}
#search .input-lg {height:40px;line-height:40px;}
#search .btn-lg  {padding:0px 15px;height:40px;}
#search .form-control {border-color:transparent;}
#search {line-height:40px;height:40px;top:5px;}
 #column-left {padding-top:15px;background:none !important;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th ,#cart .dropdown-menu  {border:none;}
 #collapse-checkout-confirm td,#collapse-checkout-confirm th {background:none !important;}
 .dropdown-menu li >a:hover {background-image:none;}
 #content .table-bordered,
 #content .table-bordered > tbody > tr > td,
 #content .table-bordered > tbody > tr > th, 
 #content .table-bordered > tfoot > tr > td, 
 #content .table-bordered > tfoot > tr > th, 
 #content .table-bordered > thead > tr > td, 
 #content .table-bordered > thead > tr > th
 {border-width:1px;
  border-style:solid;}
.btn-inverse ,#top .btn-link, #top-links li, #top-links a ,#menu .nav > li > a ,.btn-primary,.btn-default, .btn-danger, .panel {text-shadow:none !important;}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {width:100% !important;}
.well { box-shadow:none;}
.list-group a { border-color:rgba(0,0,0,0.07); }
.product-thumb .price , footer .social i {font-size:17px;} 
 .owl-wrapper-outer {box-shadow:none;}
.product-thumb:hover   {
-webkit-box-shadow: 1px 2px 50px -1px rgba(0, 0, 0,  0.08);
-moz-box-shadow: 1px 2px 50px -1px rgba(0, 0, 0,  0.08);
box-shadow: 1px 2px 50px -1px rgba(0, 0, 0,  0.08);
-webkit-transition:  all 0.8s ease;
-moz-transition:  all 0.8s ease;
-o-transition: all 0.8s ease;
transition: all 0.8s ease;
} 
.product-thumb .price-old {color:#f00;}
.product-thumb img ,.thumbnails   .thumbnail img  {max-width:400px;}
#input-quantity {max-width:100px;}
#cart {top:5px;} 
#cart .table-bordered,
#cart .table-bordered > tbody > tr > td, 
#cart .table-bordered > tbody > tr > th, 
#cart .table-bordered > tfoot > tr > td, 
#cart .table-bordered > tfoot > tr > th, 
#cart .table-bordered > thead > tr > td, 
#cart .table-bordered > thead > tr > th {
	border-style: solid;
    border-width: 1px; } 
#cart .dropdown-menu ,#cart.open > .btn ,#cart.open > .btn:hover { box-shadow:none;}
  
#column-left .catename a, #column-right .catename a, #column-left .category a, #column-right .category a {line-height:25px;font-size:15px;}
#column-left .owl-item img {width:100%;}
.category {margin-bottom:20px;}
#column-right {padding-top:20px;}  
#column-left  .list-group a, #column-right  .list-group a {font-size:14px;}
footer {display:block;position:relative;clear:both;border:none;padding-top:20px;padding-bottom:10px;}
footer h5 {font-size:14px !important; }
footer .navbar-nav > li > a {padding:0;}
footer hr {margin:10px 0;}
.powered  {height:30px;line-height:30px; margin-bottom:10px;}

@media (min-width: 768px) {
 .inbox-wrap { max-width:90%; }
}
@media (max-width: 767px) {
	header > .container {height:auto;}
	#logo img {margin:0 auto;}
    .inbox-wrap { max-width:  95%; }
    .inbox-wrap  .container  { max-width: 100%; width:auto;}
}
@media (min-width: 1000px) {
	#search{max-width:85%;}
}

#search .btn-lg {padding:11px 15px !important; height:40px;}			   

header    { 
position:relative;
z-index:10;
-webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2); 

}
 
#menu , #menu .nav  > li > a:hover,#menu .nav  > li > a:focus  { 
background-image: -webkit-linear-gradient (       top, rgba(0,0,0,0.01), rgba(0,0,0,0.2) )!important;
background-image:    -moz-linear-gradient (       top, rgba(0,0,0,0.01), rgba(0,0,0,0.2) )!important;
background-image:      -o-linear-gradient (       top, rgba(0,0,0,0.01), rgba(0,0,0,0.2) )!important;
background-image:linear-gradient(to bottom, rgba(0,0,0,0.01) 20%, rgba(0,0,0, 0.2) 75% )  !important;
}  
#menu {
-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);  
-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);  
box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }

.owl-wrapper-outer {box-shadow:none;}
body {
background: 
linear-gradient(
rgba(0,0,0,0 ),
rgba(0,0,0,0 )
),   url('../image/bg-pattern/png/019.png')  repeat center center ;     

background:
-webkit-linear-gradient ( 
top,
rgba(0,0,0,0 ),
rgba(0,0,0,0 )
),   url('../image/bg-pattern/png/019.png')  repeat center center ;  

background:
-moz-linear-gradient ( 
top,
rgba(0,0,0,0 ),
rgba(0,0,0,0 )
),   url('../image/bg-pattern/png/019.png')  repeat center center ;  

background:
-o-linear-gradient  ( 
top,
rgba(0,0,0,0 ),
rgba(0,0,0,0 )
),   url('../image/bg-pattern/png/019.png')  repeat center center ; 

}


footer   { background-color:#1a1a1a  ; }   
body > .container , main,  #massage-header,#header-logo , .container.slide ,.zoomPad   {  
background-color:rgba(0, 0, 0 ,  0.699999988079071);   }

body main > .container >  div  .list-group-item 
,#column-left ,#column-right  , .product-thumb  ,  .infoextra-wrap , .breadcrumb,.forum-list table 
,.topic-desc ,.reply-desc ,#wrap-newtopic , #wrap-newtopic .button-topic, .cke_inner
,#article-wrap  .owl-carousel .owl-wrapper-outer ,.thumbnails .thumbnail
,.panel ,th,td ,.well 
{ background-color:rgba(0, 0, 0 ,  0.20000000298023224);  }
.owl-carousel {backgroundrgba(0, 0, 0 ,  0.20000000298023224);  }
.panel-default > .panel-heading + .panel-collapse > .panel-body {border-color:transparent;}
.panel, .well , .checkout-checkout legend {border-width:0px;}
#column-left, #column-right,.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {background:none !important;}

#menu { background-color:rgba(255,3,3,0.8999999761581421);  border:none;   }
#menu.fix-menu { background-color:rgba(255,3,3,1);  }
header { background-color:#19191a;border:none;  }
#top  { background-color:#19191a; border:none;  }

#top  form > .btn-group > .btn-link , #top-links > ul > li > a ,#top-links > ul > li > span { color:#ffffff  ; }
#top  form > .btn-group > .btn-link:hover, #top-links > ul > li > a:hover ,#top-links > ul > li > span:hover  { color:#ff0000  ; }

#menu .nav  > li > a  { color:#ffffff  ; }
#menu .nav  > li > a:hover { color:#ffffff  ; }
#menu .nav  > li > a:hover,#menu .nav  > li > a:focus { background-color:#111112; }

#top form > .btn-group > ul > li > button ,  #top-links > ul > li > ul > li a, #menu .nav  > li  ul   li > a,.main-cate a , #menu .see-all  ,#content  .dropdown-menu > li > a{ color:#fa1616  ; }
#top #form-currency  .currency-select:hover, #top #form-language .language-select:hover , #menu .dropdown-inner li a:hover ,#top-links .dropdown-menu a:hover,#menu .nav .main-cate a:hover,#menu .see-all:hover ,#content .dropdown-menu > li > a:hover { color:#248f34  ; }
#menu .dropdown-menu, #top .dropdown-menu ,.dropdown-menu  { background:#1c1c1c  ; }
#top #form-currency  .currency-select:hover, #top #form-language .language-select:hover ,  #top-links > ul > li > ul > li a:hover ,#menu .nav a:hover , .dropdown-menu li >a:hover,  .dropdown-menu li >a:focus { background:#1c1c1c  ; }
#cart .btn-inverse { background-color:#1b1c1c  ; }
#search .btn-default ,#menu .btn-navbar , #menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] { background-color:#eb0909  ; }
#cart .btn-inverse {  color:#dbdbdb  ; }
#search .btn-default {  color:#ffffff  ; }
#search .form-control {  background-color:#ffffff  ; }
#search .form-control  {color:#5c5e5e  ; }
#search   ::-moz-placeholder  {color:#5c5e5e  ; }
#search  ::-webkit-input-placeholder {color:#5c5e5e  ; }
#search  :-ms-input-placeholder {color:#5c5e5e  ; }
#search  :-moz-placeholder {color:#5c5e5e  ; }

#cart .dropdown-menu table ,#cart.open > .btn ,#cart.open > .btn:hover ,#cart.open{  color:#ffffff  ; }
#cart .dropdown-menu ,#cart.open > .btn ,#cart.open > .btn:hover {  background-color:#ebebeb  ; }
#cart.open .dropdown-menu { border-color:#ebebeb  ; }
#cart.open  td, #cart.open .dropdown-menu {border:none;}
#cart .table-striped > tbody > tr:nth-of-type(2n+1) {  background-color:#444; }
#cart .dropdown-menu a ,#cart .dropdown-menu a:hover {  color:#d40d34  ; }
#cart .table-bordered,#cart .table-bordered > tbody > tr > td,#cart .table-bordered > tbody > tr > th,#cart .table-bordered > tfoot > tr > td,#cart .table-bordered > tfoot > tr > th,#cart .table-bordered > thead > tr > td,#cart .table-bordered > thead > tr > th  {  border-color:#ffffff  ; }

.product-thumb .button-group button , .product-thumb .button-group {background-color:#1b1b1c  ; }
.product-thumb .button-group button + button {border-left:1px solid rgba(255,255,255,0.08);  }
.product-thumb .button-group button:hover {background-color:#ff0000  ; }
.product-thumb  {border-color:#383b3d  ; }
.product-thumb .button-group button {color:#ffffff  ; }
.product-thumb:hover  .button-group button {color:#ffffff; }
.product-thumb a {color:#ffffff  ; }
.product-thumb:hover a    {color:#ff0000; }
.product-thumb .price {color:#40f72f  ; }
.product-thumb .image , .thumbnails .thumbnail{background-color:#ffffff  ; }

.tab-content, #content  {color:#999999  ; }
#content .nav-tabs > li >   a,  #content .nav-tabs    a:focus  {color:#999999  ; }
.panel , .product-thumb,table ,.well p  {color:#919394  ; }
.panel .form-group > a , table a,.well .form-group > a {color:#e30202  ; }
.panel .form-group > a:hover,  table a:hover,  .well .form-group > a:hover  {color:#ff002b  ; }
h1 {color:#ffffff  ; }
h2 {color:#eb173b  ; }
#content h3 {color:#39eb02  ; }
#content .rating a ,#content .nav a,#content li a,#content > p > a {color:#248f34  ; }
#content .rating a:hover ,#content .nav a:hover ,#content li a:hover,#content > p > a:hover,#content > p > a:focus {color:#eb1c1c  ; }
#content .nav-tabs  {border-bottom:1px solid #2e2f30 ; }

.breadcrumb,.breadcrumb > li::after {border-color:#212121  ; }
.breadcrumb a,legend, .panel h2,.well h2 {color:#248f34  ; }
.breadcrumb a:hover {color:#ff0808  ; }

#content .table-bordered,#content .table-bordered > tbody > tr > td, #content .table-bordered > tbody > tr > th, #content .table-bordered > tfoot > tr > td, #content .table-bordered > tfoot > tr > th, #content .table-bordered > thead > tr > td, #content .table-bordered > thead > tr > th{border-color:#403a3c  ; }
#content .form-control  {border-color:#fff; }
#content .form-control  {color:#1f1f1f  ; }
#content  ::-moz-placeholder  {color:#1f1f1f  ; }
#content ::-webkit-input-placeholder {color:#1f1f1f  ; }
#content :-ms-input-placeholder {color:#1f1f1f  ; }
#content :-moz-placeholder {color:#1f1f1f  ; }
#content .form-control  {background-color:#ebebeb  ; }

.panel-title,.panel-default > .panel-heading {color:#f0f0f0  ; }
.panel-heading ,.panel-default > .panel-heading  {background-color:#1f1f1f  ; }
.panel , .well {border-color:#1f1f1f  ; }
.btn-primary ,.btn-primary.focus, .btn-primary:focus,.btn-primary.active:focus {background-color:#eb1c1c  ; }
.btn-primary:hover {background-color:#fa0000  ; }
.btn-default {background-color:#000000  ; } 
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover ,
.nav-tabs > li  > a:hover,  .nav-tabs > li  > a:focus , 
.pagination > .active > a, .pagination > .active > a:focus, 
.pagination > .active > a:hover, .pagination > .active > span, 
.pagination > .active > span:focus, .pagination > .active > span:hover{background-color:#000000  ; } 


.pagination > .active > a, .pagination > .active > a:focus, 
.pagination > .active > a:hover, .pagination > .active > span, 
.pagination > .active > span:focus, .pagination > .active > span:hover{border-color:#000000  ; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {border-color:#000000  #000000 transparent ; }

.btn-default:hover ,.btn-default.active,.btn-default:active,.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default.active , .open > .dropdown-toggle.btn-default:focus ,.open > .dropdown-toggle.btn-default:hover {background-color:#0f0f0f  ; }
.btn-default ,#content .nav-tabs   li.active a  {color:#ffffff  ; }
.btn-default:hover ,.btn-default.active,.btn-default:active,.btn-default.active, 
.btn-default:active, .open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default.active ,
.open > .dropdown-toggle.btn-default:focus ,
.open > .dropdown-toggle.btn-default:hover {color:#fa0000  ; }

.btn-primary {color:#f2f2f2  ; }
.btn-primary:hover {color:#ffffff  ; }
hr,legend  {border-color:#1f1f1f  ; }

#column-left h3,  #column-right h3 {color:#fa020f  ; } 
#column-left .list-group a, #column-right .list-group a   ,#column-right h3 {color:#dbdbdb  ; } 
#column-left a:hover, #column-right a:hover,  #column-left .category a:hover, #column-right .category a:hover , #column-left  .list-group-item.active {color:#fa020f  ; } 
#column-left   .catename a ,#column-right  .catename  a,#column-left   .category a ,#column-right .category   a  {color:#dbdbdb  ; }
#column-left  .panel-collapse a ,#column-right .panel-collapse a,#column-left  a.child ,#column-right   a.child  {color:#248f34  ; }
.list-group a   {border-color:#2d2d2e  ; }
.list-group a.active, .list-group a.active:hover, .list-group a:hover {border-color:#2d2d2e  ; } 
.image-additional a ,.thumbnails .thumbnail {border-color:#ffffff  ; }

footer {color:#8f969c  ; }
footer a {color:#8f969c  ; }
footer  .fa-check-square{color:  rgba(143, 150, 156 ,0.1 ); }
footer a:hover {color:#f0f0f0  ; }
footer hr,  footer .panel ,footer .panel-heading, footer  .panel-default > .panel-heading {border-color:#1f1f1f  ; }


footer h5.panel-title a , footer h4, footer h5, footer h3 {color:#b00b0b  }
footer i   {color:#ffffff  ; }
footer .social i,footer .extra-contact i{background-color:  rgba(255, 255, 255 ,0.07 ); }
footer i:hover   {color:#f2590c  ; }
.powered span,  .powered p  {color:#a8d2f0  ; }
footer hr  {border-color:#1f1f1f  ; }
