.inbox-wrap {
	margin: 0 auto; 
    overflow: hidden; 
}
.inbox-wrap  .container  { max-width: 100%; width:auto;}
.inbox-wrap #menu { margin:0;}
.inbox-wrap #menu .navbar-nav {float:none;display:table;margin:0 auto; width:100%;}
.inbox-wrap footer  {padding:20px 30px;}
.inbox-wrap {  margin-bottom:30px; margin-top:25px;  }
h3 {font-size:28px;}
#content h3:after ,#column-left h3:after {
    content: "";
    display: block;
    width:30px;
    margin:10px 0 0 0;
    border-bottom:5px solid;
}
.common-home #content {margin-top:15px;}
.breadcrumb {margin-top:10px;margin-bottom:5px;}
 .nav .open > a:focus, .nav .open > a:hover {background:none;}
.product-thumb .button-group button  {font-size:11px;}
.product-list .product-thumb .caption {margin-left:260px;}
.product-list .product-thumb .button-group {border-left:none;}
.list-group a.active, .list-group a.active:hover, .list-group a:hover,.breadcrumb > li {text-shadow:none;}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {background:transparent;}
.product-thumb .button-group   {border-top:none;}
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {border-bottom-width:1px ;}
.panel-heading {border-bottom:none;}
.btn-group.form-control {height:32px; background:transparent;}
.form-control,hr {box-shadow:none;}
.owl-carousel {background:transparent !important;}
.owl-pagination {top:5px!important;}
.owl-wrapper-outer {border:0!important;}
.checkout-checkout #accordion .panel {box-shadow:none;}
.btn-default,.btn-primary  {
	 background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 10%, rgba(0, 0, 0, 0.2) 165%) !important;
	 border-color:rgba(0,0,0,0.05) !important;
 }
 .btn-inverse {
	  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 10%, rgba(0, 0, 0, 0.2) 75%) !important;
	  border-color:rgba(0,0,0,0.1) !important;
 }
.btn-primary:hover {background-position:0;}
#menu  {margin-top:20px;}
#menu .nav > li > a {padding:15px;}
#menu .nav > li > a ,#cart > .btn{font-size:15px;} 
#menu  .btn-navbar {border:none;background-image:none; border-radius:1px;}
#menu .see-all {border-top:none;background:rgba(255,255,255,0.1);}
#menu .dropdown-inner ,#menu .dropdown-inner a ,#menu .dropdown-inner ul {display:block;width:100%;}
 #logo, #cart, #search {margin:10px 0;}
 header {padding-top:10px;padding-bottom:10px;}
.navbar ,#top {margin-bottom:0px; } 
#logo img {max-width:250px;width:100%;max-height:268px;}
header > .container {height:70px;}
#search .btn-lg {text-shadow:0 1px 0 rgba(255,255,255,0.3);}
#search .input-lg {height:40px;line-height:40px;}
#search .btn-lg  {padding:0px 15px;height:40px;}
#search .form-control {border-color:transparent;}
#search {line-height:40px;height:40px;top:5px;}
 #column-left {padding-top:15px;background:none !important;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th ,#cart .dropdown-menu  {border:none;}
 #collapse-checkout-confirm td,#collapse-checkout-confirm th {background:none !important;}
 .dropdown-menu li >a:hover {background-image:none;}
 #content {margin-top:30px;padding:0 20px;}
 #content .table-bordered,
 #content .table-bordered > tbody > tr > td,
 #content .table-bordered > tbody > tr > th, 
 #content .table-bordered > tfoot > tr > td, 
 #content .table-bordered > tfoot > tr > th, 
 #content .table-bordered > thead > tr > td, 
 #content .table-bordered > thead > tr > th
 {border-width:1px;
  border-style:solid;}
.btn-inverse ,#top .btn-link, #top-links li, #top-links a ,#menu .nav > li > a ,.btn-primary,.btn-default, .btn-danger, .panel {text-shadow:none !important;}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {width:100% !important;}
.well { box-shadow:none;}
.list-group a { border-color:rgba(0,0,0,0.07); }
.product-thumb .price , footer .social i {font-size:17px;} 
 .owl-wrapper-outer {box-shadow:none;}
.product-thumb:hover   {
-webkit-box-shadow: 1px 2px 50px -1px rgba(0, 0, 0,  0.08);
-moz-box-shadow: 1px 2px 50px -1px rgba(0, 0, 0,  0.08);
box-shadow: 1px 2px 50px -1px rgba(0, 0, 0,  0.08);
-webkit-transition:  all 0.8s ease;
-moz-transition:  all 0.8s ease;
-o-transition: all 0.8s ease;
transition: all 0.8s ease;
} 
.product-thumb .price-old {color:#f00;}
.product-thumb img ,.thumbnails   .thumbnail img  {max-width:400px;}
#input-quantity {max-width:100px;}
#cart {top:5px;} 
#cart .table-bordered,
#cart .table-bordered > tbody > tr > td, 
#cart .table-bordered > tbody > tr > th, 
#cart .table-bordered > tfoot > tr > td, 
#cart .table-bordered > tfoot > tr > th, 
#cart .table-bordered > thead > tr > td, 
#cart .table-bordered > thead > tr > th {
	border-style: solid;
    border-width: 1px; } 
#cart .dropdown-menu ,#cart.open > .btn ,#cart.open > .btn:hover { box-shadow:none;}
  
#column-left .catename a, #column-right .catename a, #column-left .category a, #column-right .category a {line-height:25px;font-size:15px;}
#column-left .owl-item img {width:100%;}
.category {margin-bottom:20px;}
#column-right {padding-top:20px;}  
#column-left  .list-group a, #column-right  .list-group a {font-size:14px;}
footer {display:block;position:relative;clear:both;border:none;padding-top:20px;padding-bottom:10px;}
footer h5 {font-size:14px !important; }
footer .navbar-nav > li > a {padding:0;}
footer hr {margin:10px 0;}
.powered  {height:30px;line-height:30px; margin-bottom:10px;}

@media (min-width: 768px) {
 .inbox-wrap { max-width:90%; }
}
@media (max-width: 767px) {
	header > .container {height:auto;}
	#logo img {margin:0 auto;}
    .inbox-wrap { max-width:  95%; }
    .inbox-wrap  .container  { max-width: 100%; width:auto;}
}
@media (min-width: 1000px) {
	#search{max-width:85%;}
}
 

#search .btn-lg {padding:11px 15px !important; height:40px;}			   
 
#cart .btn-inverse {background:transparent !important;}
 
.btn-default ,.btn-navbar {background-image:none !important;border:none;text-shadow:none;}
.btn-default.btn ,.btn-navbar {box-shadow:none;}
.btn {padding:8px 12px; line-height:18px;}
 
.btn-primary ,  .btn-danger ,.panel ,.well {background-image:none !important; border:none; text-shadow:none;}
.btn-primary.btn, .btn-danger.btn {box-shadow:none;}

.product-thumb .caption {min-height:80px;}
.col-lg-3 .product-thumb .caption  {min-height:100px;}
 
#menu  { background-image:none; }
 
.owl-wrapper-outer {box-shadow:none;}
 
body  { background:
linear-gradient(
rgba(255,255,255,0.8999999761581421 ),
rgba(255,255,255,0.8999999761581421 )
),  url('../image/fullwidth/layer-stone.jpg')  no-repeat center center fixed ; 

background:
-webkit-linear-gradient ( 
top,
rgba(255,255,255,0.8999999761581421 ),
rgba(255,255,255,0.8999999761581421 )
),   url('../image/fullwidth/layer-stone.jpg')  no-repeat center center fixed ;  
background:
-moz-linear-gradient ( 
top,
rgba(255,255,255,0.8999999761581421 ),
rgba(255,255,255,0.8999999761581421 )
),   url('../image/fullwidth/layer-stone.jpg') no-repeat center center fixed ;  

background:
-o-linear-gradient  ( 
top,
rgba(255,255,255,0.8999999761581421 ),
rgba(255,255,255,0.8999999761581421 )
),   url('../image/fullwidth/layer-stone.jpg') no-repeat center center fixed ; 

-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;  		

}   

 
footer   { background-color:#f0f0f0  ; }   
 
.inbox-wrap  {
-webkit-box-shadow:0 1px 8px 0 rgba(5, 5, 5, 0.2);
-moz-box-shadow: 0 1px 8px 0 rgba(5, 5, 5, 0.2);
box-shadow:0 1px 8px 0 rgba(5, 5, 5, 0.2); }		  
.inbox-wrap  {  border:1px solid #ffffff; }		  
 
.inbox-wrap {  margin-bottom:30px;  }
.inbox-wrap {  margin-top:25px;  }
 

body > .container , main,  #massage-header,#header-logo , .container.slide ,.zoomPad   {  
background-color:rgba(255, 255, 255 ,  0.800000011920929);   }
 
body main > .container >  div  .list-group-item 
,#column-left ,#column-right  , .product-thumb  ,  .infoextra-wrap , .breadcrumb,.forum-list table 
,.topic-desc ,.reply-desc ,#wrap-newtopic , #wrap-newtopic .button-topic, .cke_inner
,#article-wrap  .owl-carousel .owl-wrapper-outer ,.thumbnails .thumbnail
,.panel ,th,td ,.well 
{ background-color:rgba(247, 247, 247 ,  0.800000011920929);  }
.owl-carousel {backgroundrgba(247, 247, 247 ,  0.800000011920929);  }
.panel-default > .panel-heading + .panel-collapse > .panel-body {border-color:transparent;}
.panel, .well , .checkout-checkout legend {border-width:0px;}
#column-left, #column-right,.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {background:none !important;}
 
#menu { background-color:#525659  ;  border:none;  }
 
header { background-color:#ffffff  ; 
border:none;  } 
#top  { background-color:rgba(250,250,250,0.6000000238418579);  
border:none;  }
 
#top  form > .btn-group > .btn-link , #top-links > ul > li > a ,#top-links > ul > li > span { color:#404040  ; }
#top  form > .btn-group > .btn-link:hover, #top-links > ul > li > a:hover ,#top-links > ul > li > span:hover  { color:#030303  ; }
#menu .nav  > li > a  { color:#ffffff  ; }
#menu .nav  > li > a:hover { color:#fcfcfc  ; }
#menu .nav  > li > a:hover,#menu .nav  > li > a:focus { background-color:#7d868c; }
 
#top form > .btn-group > ul > li > button ,  #top-links > ul > li > ul > li a, #menu .nav  > li  ul   li > a,.main-cate a , #menu .see-all  ,#content  .dropdown-menu > li > a{ color:#545454  ; }

#top #form-currency  .currency-select:hover, #top #form-language .language-select:hover , #menu .dropdown-inner li a:hover ,#top-links .dropdown-menu a:hover,#menu .nav .main-cate a:hover,#menu .see-all:hover ,#content .dropdown-menu > li > a:hover { color:#ffffff  ; }

#menu .dropdown-menu,#menu .dropdown.open .dropdown-menu, #top .dropdown-menu ,.dropdown-menu ,.dropdown-inner-mega  { background:#ebebeb  ; }

#top #form-currency  .currency-select:hover, #top #form-language .language-select:hover ,  #top-links > ul > li > ul > li a:hover ,#menu .nav a:hover , .dropdown-menu li >a:hover,  .dropdown-menu li >a:focus { background:#363738  ; }

#cart .btn-inverse { background-color:#f5f5f5  ; }

#search .btn-default ,#menu .btn-navbar , #menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] { background-color:#ccc  ; }

#cart .btn-inverse {  color:#383838  ; }

#search .btn-default,#menu .btn-navbar ,#menu .btn-navbar:hover ,#menu .btn-navbar:focus {  color:#ffffff  ; }

#search .form-control {  background-color:#f2f2f2  ; }
#search .form-control  {color:#747678  ; }
#search   ::-moz-placeholder  {color:#747678  ; }
#search  ::-webkit-input-placeholder {color:#747678  ; }
#search  :-ms-input-placeholder {color:#747678  ; }
#search  :-moz-placeholder {color:#747678  ; }

#cart .dropdown-menu table ,#cart.open > .btn ,#cart.open > .btn:hover ,#cart.open{  color:#22272b  ; }
#cart .dropdown-menu ,#cart.open > .btn ,#cart.open > .btn:hover {  background-color:#e8e8e8  ; }
#cart.open .dropdown-menu { border-color:#e8e8e8  ; }
#cart.open  td, #cart.open .dropdown-menu {border:none;}
#cart .table-striped > tbody > tr:nth-of-type(2n+1) {  background-color:#ffffff  ; }
#cart .dropdown-menu a ,#cart .dropdown-menu a:hover {  color:#303030  ; }
#cart .table-bordered,#cart .table-bordered > tbody > tr > td,#cart .table-bordered > tbody > tr > th,#cart .table-bordered > tfoot > tr > td,#cart .table-bordered > tfoot > tr > th,#cart .table-bordered > thead > tr > td,#cart .table-bordered > thead > tr > th  {  border-color:#dedede  ; }

.main-cate > a:first-child { color:#ffffff  ; }

.product-thumb .button-group button , .product-thumb .button-group {background-color:#ffffff  ; }
.product-thumb .button-group button + button {border-left:1px solid rgba(255,255,255,0.08);  }

.product-thumb .button-group button:hover {background-color:#ffffff  ; }

.product-thumb  {border-color:#f0f0f0  ; }

.product-thumb .button-group button {color:#393a3b  ; }
.product-thumb:hover  .button-group button {color:#000000; }

.product-thumb a {color:#373e42  ; }
.product-thumb:hover a    {color:#242424; }

.product-thumb .price {color:#3a434a  ; }

.product-thumb .image , .thumbnails .thumbnail{background-color:#ffffff  ; }

.tab-content, #content  {color:#2d2f30  ; }
#content .nav-tabs > li >   a,  #content .nav-tabs    a:focus  {color:#2d2f30  ; }

.panel , .product-thumb,table ,.well p  {color:#64686b  ; }

.panel .form-group > a , table a,.well .form-group > a {color:#007ed9  ; }

.panel .form-group > a:hover,  table a:hover,  .well .form-group > a:hover  {color:#47a4e6  ; }

h1 {color:#040608  ; }

h2 {color:#000000  ; }

#content h3 {color:#404347  ; }

#content .rating a ,#content .nav a,#content li a,#content > p > a {color:#2c4252  ; }

#content .rating a:hover ,#content .nav a:hover ,#content li a:hover,#content > p > a:hover,#content > p > a:focus {color:#007ed9  ; }

#content .nav-tabs  {border-bottom:1px solid #f0f0f0 ; }

.breadcrumb,.breadcrumb > li::after {border-color:#f5f5f5  ; }


.breadcrumb a,legend, .panel h2,.well h2 {color:#5e6061  ; }

.breadcrumb a:hover {color:#6028a6  ; }

#content .table-bordered,#content .table-bordered > tbody > tr > td, #content .table-bordered > tbody > tr > th, #content .table-bordered > tfoot > tr > td, #content .table-bordered > tfoot > tr > th, #content .table-bordered > thead > tr > td, #content .table-bordered > thead > tr > th{border-color:#c7c7c7  ; }
#content .form-control  {border-color:#cfcfcf  ; }

#content .form-control  {color:#292d30  ; }
#content  ::-moz-placeholder  {color:#292d30  ; }
#content ::-webkit-input-placeholder {color:#292d30  ; }
#content :-ms-input-placeholder {color:#292d30  ; }
#content :-moz-placeholder {color:#292d30  ; }
#content .form-control  {background-color:#ffffff  ; }

.panel-title,.panel-default > .panel-heading {color:#ffffff  ; }

.panel-heading ,.panel-default > .panel-heading  {background-color:#9da5ab  ; }
.panel , .well {border-color:#9da5ab  ; }

.btn-primary ,.btn-primary.focus, .btn-primary:focus,.btn-primary.active:focus {background-color:#2b3238  ; }

.btn-primary:hover {background-color:#1c1c1c  ; }

.btn-default {background-color:#70818c  ; } 
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover ,
.nav-tabs > li  > a:hover,  .nav-tabs > li  > a:focus , 
.pagination > .active > a, .pagination > .active > a:focus, 
.pagination > .active > a:hover, .pagination > .active > span, 
.pagination > .active > span:focus, .pagination > .active > span:hover
{background-color:#70818c  ; } 


.pagination > .active > a, .pagination > .active > a:focus, 
.pagination > .active > a:hover, .pagination > .active > span, 
.pagination > .active > span:focus, .pagination > .active > span:hover

{border-color:#70818c  ; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {border-color:#70818c  #70818c transparent ; }

.btn-default:hover ,.btn-default.active,.btn-default:active,.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default.active , .open > .dropdown-toggle.btn-default:focus ,.open > .dropdown-toggle.btn-default:hover {background-color:#8798a3  ; }

.btn-default ,#content .nav-tabs   li.active a  {color:#ffffff  ; }

.btn-default:hover ,.btn-default.active,.btn-default:active,.btn-default.active, 
.btn-default:active, .open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default.active ,
.open > .dropdown-toggle.btn-default:focus ,
.open > .dropdown-toggle.btn-default:hover {color:#ffffff  ; }

.btn-primary {color:#e1e8ed  ; }

.btn-primary:hover {color:#ffffff  ; }

hr,legend  {border-color:#ebebeb  ; }

#column-left h3,  #column-right h3 {color:#3b403b  ; }
 
#column-left .list-group a, #column-right .list-group a   ,#column-right h3 {color:#1d2124  ; }
 
#column-left a:hover, #column-right a:hover,  #column-left .category a:hover, #column-right .category a:hover , #column-left  .list-group-item.active {color:#0c9cf5  ; }
  
#column-left   .catename a ,#column-right  .catename  a,#column-left   .category a ,#column-right .category   a  {color:#101112  ; }
 
#column-left  .panel-collapse a ,#column-right .panel-collapse a,#column-left  a.child ,#column-right   a.child  {color:#101112  ; }

.list-group a   {border-color:#ffffff  ; }
.list-group a.active, .list-group a.active:hover, .list-group a:hover {border-color:#ffffff  ; }

.image-additional a ,.thumbnails .thumbnail {border-color:#ffffff  ; }

footer {color:#101417  ; }

footer a {color:#2c2d2e  ; }
footer  .fa-check-square{color:  rgba(16, 20, 23 ,0.1 ); }

footer a:hover {color:#1c8ce8  ; }

footer hr,  footer .panel ,footer .panel-heading, footer  .panel-default > .panel-heading {border-color:#ffffff  ; }

footer h5.panel-title a , footer h4, footer h5, footer h3 {color:#1c1f21  }

footer i   {color:#ffffff  ; }

footer a i:hover   {color:#095f9c  ; }

.powered span,  .powered p  {color:#0d0d0d  ; }

footer hr  {border-color:#ffffff  ; }

