<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-skin" data-toggle="tooltip" title="" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip"   class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
   
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
      </div>
      <div class="panel-body">
        <form action=<?php echo $button_save; ?> method="post" enctype="multipart/form-data" id="form-skin" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status"><?php echo $text_status; ?></label>
            <div class="col-sm-10">
              <select name="skin_status" id="input-status" class="form-control">
                <?php if ($skin_status) { ?>
                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                <option value="0"><?php echo $text_disabled; ?></option>
                <?php } else { ?>
                <option value="1"><?php echo $text_enabled; ?></option>
                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                <?php } ?>
              </select>
            </div>
          </div>
		   <div class="form-group ">   
				<label class="col-sm-2 control-label"  ><span data-toggle="tooltip"  data-original-title="Example: #menu{background-color:#000000;}" ><?php echo  'Custom CSS'; ?></span></label>
				 <div class="col-sm-10"><textarea rows="15" class="form-control" name="custom_css" id="custom-css"  ><?php echo $custom_css; ?> </textarea>
				 </div>
		   </div>	
        </form>
      </div>
    </div>
  </div>
</div>
<?php echo $footer; ?>